
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(table.png);
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

h1 {
    color: goldenrod;
    margin-top: 2rem;
}

#message-el {
    font-style: italic;
}
button {
    background-color: goldenrod;
    border: none;
    color: #016f32;
    width: 150px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 2rem;
    font-size: 1rem;
    border-radius: 4%;
    margin-bottom: 2px;
    margin-top: 2px;
}